<% provide(:title, "Edit Dish") %>
<div class="form-wrapper">
  <h1 class="page-title">
    Edit your delicious dish post
  </h1>
  <div class="image center-block">
    <%= image_tag @post.image.url(:medium), class: 'img-responsive' %>
  </div>
  <%= render 'form' %>
  <div class="text-center edit-links">
    <%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>
    <span class="bar">|</span>
    <%= link_to "Cancel", posts_path %>
  </div>
</div>