<% @posts.each do |post| %>
  <div class="posts-wrapper">
    <div class="post">
      <div class="post-head">
        <div>
          <%#= post.title %>
        </div>
      </div>
      <div class="image center-block">
        <%= link_to (image_tag post.image.url(:medium), class: 'img-responsive'), post_path(post) %>
      </div>
      <p class="caption">
          <span class="user-name">
            <%= post.user.user_name %>
          </span>
        <%= post.caption %>
      </p>
    </div>
  </div>
<% end %>
