<% @posts.each do |post| %>
  <div class="posts-wrapper">
    <div class="post">
      <div class="post-head">
        <div class="post-title">
          <%= post.title %>
          <span class="author pull-right">
            Served by <%= post.user.user_name %>
          </span>
        </div>
      </div>
      <div class="image center-block">
        <%= link_to (image_tag post.image.url(:medium), class: 'img-responsive'), post_path(post) %>
      </div>
      <p class="caption">
        <%= post.caption %>
      </p>
    </div>
  </div>
<% end %>
